.button {
/*  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;*/
  /* Frame 3 */

/* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 8px;
  gap: 8px;

  position: absolute;
  width: 98.73px;
  height: 34.07px;
  left: 59.37px;
  top: 86px;

  background: #37474F;
  border-radius: 5px;
  transform: matrix(1, 0, -0.03, 1, 0, 0);

}

.button1 {
  /* VIVID Vietnam */

  width: 83px;
  height: 19px;

  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;

  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  /* VIVID Global */
  margin: 0 105px;
  width: 73px;
  height: 19px;

  font-family: 'Brandon Grotesque';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 19px;
  /* identical to box height */

  color: #FFFFFF;

  transform: matrix(1, 0, -0.03, 1, 0, 0);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}

.button2:hover {
  background-color: #008CBA;
  color: white;
}





